
h1{
    color:red;
    text-align:center
}
*{
    border:solid
   
}

body{
    background-color:#808080
}



.header{
    background-color: blue;
    display: flex;
    justify-content:space-between
}
.grid{
    display: flex;
    justify-content:space-evenly ;
    flex-wrap:wrap
}
.footer{
    display: flex;
    justify-content:flex-end
}
.description{
    text-align:center
}